
<mat-tab-group>
    <mat-tab label="measurement"><app-item-selector #measure (itemCompleteEvent) = "checkComplete($event)"  [currentType]="'measurement'"></app-item-selector></mat-tab>
    <mat-tab label="ingredients"><app-item-selector #ingredient (itemCompleteEvent) = "checkComplete($event)"  [currentType]="'ingredients'"></app-item-selector></mat-tab>
    <mat-tab label="prepared"><app-item-selector #prepared (itemCompleteEvent) = "checkComplete($event)" [currentType]="'prepared'"></app-item-selector></mat-tab>
</mat-tab-group>
<div>{{measurementItem}}</div>
<div>{{ingredientsItem}}</div>
<div>{{preparedItem}}</div>
<button *ngIf="measurementItem != '' && ingredientsItem != '' && preparedItem != ''" (click)="generateIngredients()">Enter</button>
<div *ngFor="let step of steps">
    {{step}}
</div>